body {
  background-color: rgb(151, 157, 158);
  margin: 10px;
  padding: 0;
  box-sizing: border-box;
}

.welcome {
  width: 100%;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid rgb(247, 250, 247);
}

.users-list {
  width: 100%;
}

.user-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.user-image {
  width: 100%;
  border: 1px solid rgb(243, 243, 237);
}

.image-container {
  width: 70px;
  padding-right: 40px;
}

.name-counter {
  width: 280px;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 1px solid white;
}

.users-bio {
  width: 390px;
  border: 1px solid rgb(253, 250, 250);
  margin-top: 20px;
}

.posts-card {
  width: 390px;
  margin-top: 10px;
  border: 1px solid rgb(253, 250, 250);
}

.post-text {
  text-decoration: none;
}

.post-comments-likes {
  text-align: right;
  padding-right: 5px;
}

.post-card {
  width: 390px;
  margin-top: 10px;
  border: 1px solid rgb(253, 250, 250);
}

.total-comments {
  width: 350px;
  margin-top: 10px;
  border: 1px solid rgb(253, 250, 250);
}

.comment {
  list-style: none;
}

.five-comments {
  width: 350px;
  margin-top: 10px;
  border: 1px solid rgb(253, 250, 250);
}

.comment-area {
  width: 390px;
  height: 60px;
}

.text-area {
  width: 100%;
  height: 100%;
}

.submit-comment {
  margin-top: 30px;
}

.like-form {
  margin-bottom: 20px;
}

.newpost-text {
  width: 390px;
  height: 150px;
}

.new-text {
  width: 100%;
  height: 100%;
}

.new-title {
  width: 325px;
  margin-bottom: 30px;
}

.submit-post {
  margin-top: 50px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 0%;
}

.navbar-button-link {
  background-color: rgb(151, 157, 158);
  border: none;
  list-style: none;
  color: black;
  text-decoration: underline;
  font-size: 20px;
  margin-left: 20%;
}

.page-title {
  border-right: 1px solid white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: 15px;
}

.field {
  width: 390px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.input-data {
  width: 390px;
}

.input-data-bio {
  width: 390px;
  height: 70px;
}

.actions {
  margin-top: 10px;
  margin-bottom: 10px;
}
